# Windows files should use crlf line endings
# https://help.github.com/articles/dealing-with-line-endings/

# Replacing CRLF rule by LF to be Linux Compliant (Development Environment of Reference)
*.tsx text eol=lf
